/*colors and fonts*/

body{
  color: rgb(50, 50, 50);
  background: #D9E7E6;
  font-family:Crimson+Text, sans-serif;
  font-size: 18px;
  font-weight: lighter;
}


 h1, h2, h3 {
 font-family:Roboto
 }

 h1{
  color:#FA9F42;
  font-size: 40px;
 }

 h2, h3 h4{
  color: #D1345B;
  font-size: 20;
  font-weight: lighter;
 }

 a{
  text-decoration: none;
  color: #1F487E;
  font-weight: bolder;
 }

 a:hover {
  color: #FA9F42;
  font-weight: bolder;
 }

/* custom design with class*/

.container {
  width:700px;
  margin: 40px auto;
}

@media (max-width:760px) {
 .container{
  width: 600px;
  }
}


@media (max-width:500px) {
 .container{
  width: 400px;
  }
}



.card-white {
 background-color: white;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 margin: 20px;
 text-align: center;

}

.img-circle{
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.btn-blue{
 background-color:#1F487E ;
 color:white;
 padding: 15px 20px;
 border-radius: 4px;
}
.btn-blue:hover{
  background-color:#FA9F42;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li{
  display: inline;
  padding: 10px;
}
.list-inline i{
  font-size: 50px;
}
#introduction p {
  margin-bottom: 40px;

}


